#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 1rem;
  gap: 20px;
  flex-wrap: wrap;
}

.projectList>a {
  display: block;
}

.doc-card {
  width: 300px;
  height: 150px;
  border: solid 1px rgba(10, 10, 10, .3);
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(10, 10, 10, .3);
  ;
}

.doc-card:hover {
  border: solid 1px orangered;
  cursor: pointer;
}

.doc-card-title {
  font-size: 1.5em;
}

.doc-card-title a {
  color: white;
}

.doc-card-desc {
  font-size: 1em;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(161, 161, 161)
}

.doc-card-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.doc-card-tags .tag {
  display: inline;
  padding: 3px 7px;
  font-size: .7em;
  line-height: .7em;
  border: solid 1px #888;
  border-radius: 5px;
  font-weight: normal;
}

.folder-button,
.importdevops-button,
.addproject-button {
  width: 150px;
  height: 150px;
  background-color: rgba(10, 10, 10, .3);
  border: solid 1px rgba(10, 10, 10, .3);
}

.folder-button svg,
.importdevops-button svg,
.addproject-button svg {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}