.askAsish {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.askAsish.expanded {
  width: 400px;
}

.askAsish textarea {
  width: 90%;
  margin: 5% auto;
  border-radius: 5px;
  padding: 5px;
  display: none;
  border: solid 1px orangered;
  background: black;
  color: white;
}

.askAsish .responses {
  display: none;
  padding: 10px;
  align-items: baseline;
  flex: 1;
  flex-direction: column;
}

.askAsish .response {}

.askAsish.expanded {
  height: 500px;
  border: 1px solid orangered;
  background-color: #1a1a1a;
  border-radius: 5px;
}

.askAsish.expanded * {
  display: flex;
}

.askAsish>.chatButton {
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 5px;
}

.askAsish>.chatButton svg {
  width: 30px;
  height: 30px;
}

.askAsish>.chatButton .title {
  display: none;
}

.askAsish>.chatButton:hover {
  background-color: rgba(255, 68, 0, 0.9);
}

.askAsish>.chatButton.expanded {
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(255, 68, 0, 0.9);
}

.askAsish>.chatButton.expanded .title {
  display: block;
}

.responses {
  overflow-y: scroll;
  height: 100%;
  flex: 1;
}

.response {
  display: flex;
  width: 100%;
  padding: 5px 0px;
}

.response>* {
  border-radius: 5px;
  display: block;
  padding: 5px 10px;
  max-width: 85%;
  white-space: wrap;
}

.response:has(.question) {
  justify-content: end;
}

.answer {
  justify-content: start;
  background-color: #5476d6;
  min-height: 24px;
}

.answer:has(.loader) {
  align-items: center;
}

.question {
  justify-content: end;
  background-color: rgb(64, 160, 27);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  height: 10px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #FFF 90%, #FFF0);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}