.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  place-content: top;
  max-width: 1260px;
  flex-wrap: wrap;
  margin: auto;
}

.header {
  text-align: left;

}

.tocContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-content: top;
  width: 300px;
}

.contentContainer {
  width: 900px;
  overflow-x: auto;
  text-align: left;
}

.tocContainer div {
  text-align: left;
  cursor: pointer;
}

.tocContainer div svg {
  margin-right: 5px;
}

.tocContainer .tocChildren {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-content: top;
  width: 300px;
}

.versionList {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: 200px;
}

.versionList:hover {
  border-color: orangered;
}

.versionControls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contentContainer img {
  max-width: 100%;
}

body>div>h1 {
  text-align: left;
}

.doctitle {
  margin: auto;
  max-width: 1260px;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.doctitle .commitId {
  display: block;
  font-size: 1rem;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  line-height: 30px;
  height: 30px;
  color: rgba(255, 255, 255, 0.3);

}

.editor {
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1em;
}


.inputBox {
  min-width: 33%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


.tocControls {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.docToolbar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 42px;
  white-space: nowrap;
}

.versionControls {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.editControls {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: right;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}