.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  place-content: top;
  max-width: 1200px;
  width: 100%;
}

.tocContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-content: top;
  width: 300px;
  overflow: scroll-y;

}

.contentContainer {
  width: 900px;
  overflow-x: auto;
  text-align: left;
}

.tocContainer div {
  text-align: left;
}

.tocContainer div svg {
  margin-right: 5px;
}

.tocContainer .tocChildren {
  padding-left: 15px;
}

.versionList {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.versionControls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.versionControls>button {
  width: 50%;
}

.contentContainer img {
  max-width: 100%;
}

body>div>h1 {
  text-align: left;
}